<style type="text/css">
    /* don't remove. */
    .about-cover {
        height: 90.2vh;
    }
</style>
<div class="bg-cover pd-header about-cover">
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                <div class="brand">
                    <div class="title center-align">
                        404 Sorry,Who Moved My page🧐🧐🧐?
                    </div>
                    <div class="title center-align">
                        try<span style="color:blue;font-weight:bold">search</span>function in the top right?
                    </div>
                    <div class="title center-align">
                        <a href="/" target="_blank">return main page?</a>
                    </div>
                    <div class="description center-align">
                        <%= page.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if (theme.banner.enable) { %>
    <script>
        // 每天切换 banner 图.  Switch banner image every day.
        var bannerUrl = "<%- theme.jsDelivr.url %><%- url_for('/medias/banner/') %>" + new Date().getDay() + '.jpg';
        $('.bg-cover').css('background-image', 'url(' + bannerUrl + ')');
    </script>
    <% } else { %>
        <script>
            $('.bg-cover').css('background-image', 'url(<%- theme.jsDelivr.url %><%- url_for(' / medias / banner / 0.jpg') %>)');
        </script>
        <% } %>