<link rel="stylesheet" type="text/css" href="<%- theme.jsDelivr.url %><%- url_for('/libs/share/css/share.min.css') %>">
<div id="article-share">

    <% if (theme.sharejs.enable) { %>
    <div class="social-share" data-sites="<%- theme.sharejs.sites %>" data-wechat-qrcode-helper="<p>Share it!</p>"></div>
    <script src="<%- theme.jsDelivr.url %><%- url_for('/libs/share/js/social-share.min.js') %>"></script>
    <% } %>

    <% if (theme.addthis.enable) { %>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=<%- theme.addthis.pubid %>"></script>
    <div class="addthis_inline_share_toolbox"></div>
    <% } %>

</div>
